:root {
  --white: #fff;
  --dark-blue: #13293d;
  /* You can use it with any value that is repeated throughout the sheet */
  --border-radius: 50px;
}

body {
  font-size: 16px;
  display: grid;
  left: auto;
  top: auto;
  align-items: center;
  line-height: 1.0; 
  margin: 0;
}

header {
  padding: 20px;
  text-align: center;
  background: var(--dark-blue);
  color: var(--white);
  font-size: 30px;
  margin-bottom: 0px;
}

header h1 {
  background: var(--dark-blue);
  colour: var(--white);
  display: inline-block;
  font-size: 48px
}

nav ul {
  background: var(--dark-blue);
  min-width: 350px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  background: var(--dark-blue);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  text-align: justify;
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav a:hover {
  color: var(--white);
  border-bottom: 3px solid var(--white);
}

aside {
  flex: 1 0;
  background-color: var(--white);
  padding: 80px;
  text-align: center;
}

aside img {
  width: 250px;
  margin-bottom: 20px;
}

aside p {
  color: var(--black);
}

h2 {
  font-size: 3.0rem;
  margin-bottom: 10px;
  margin: 0;
  margin-top: 0.5em;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  font-size: 2.0rem;
  margin-bottom: 10px;
  text-align: center;
}
 
h4 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: left;
}

h5 {
  font-size: 0.6rem;
  text-align: centre;
}

nav {
  display: flex;
  background-color: var(--tan);
}

nav a {
  color: var(--white);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--white);
  color: var(--dark-blue);
  opacity: 0.9;
  border: 3px solid var(--framecolor);
}

main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
<<<<<<< HEAD
}

article {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2%;
  background: var(--black);
  color: var(--white);
  align-items: center;
  padding: 2%;
}

img {
  width: 250px;
  margin-bottom: 25px;
}

a img:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 10px grey;
}

.box {
  flex: 3;
  background: var(--white);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 10px;
=======
}

article {
  display: flex;
  justify-content: space-around;
>>>>>>> 1bd345db4e344431004e09bd5eecc0e639b07b87
  text-align: center;
  padding: 2%;
  background: var(--black);
  color: var(--white);
  align-items: center;
  padding: 2%;
}

img {
  width: 250px;
  margin-bottom: 25px;
}

a img:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 10px grey;
}

.box {
  flex: 3;
  background: var(--white);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
}

.card {
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 0px #aaaaaa;
  margin: 20px;
  float: left;
 }

.card > p {
  text-align: center;
}

.card > img {
  width: 100%;
}

<<<<<<< HEAD
=======
footer {
  width: 100%;
  bottom: 0;
  padding: 10px;
  text-align: center;
  background: var(--dark-blue);
  color: var(--white);
  margin-top: auto;
}

>>>>>>> 1bd345db4e344431004e09bd5eecc0e639b07b87
@media (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }

  .card {
    width: 40%;
    height: 50%
  }

  button {
    width: 50%;
    height: 50%;
    text-align: centre;
  }

  .card img {
    width: 50%;
  }

  h1 {
    font-size: 80%;
  }

}

.imgface {
  width: 100px; 
  height: 100px;
}
