:root {
  --white: #fff;
  --dark-blue: #13293d;
  /* You can use it with any value that is repeated throughout the sheet */
  --border-radius: 50px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  display: grid;
  padding: 20px;
  align-items: center;
  line-height: 1.0; 
  background-color: aliceblue;
}

header {
  padding: 20px;
  text-align: center;
  background: var(--dark-blue);
  color: var(--white);
  font-size: 30px;
  margin-bottom: 0px;
}

header h1 {
  background: var(--dark-blue);
  colour: var(--white);
  display: inline-block;
  font-size: 48px
}

nav ul {
  background: var(--dark-blue);
  min-width: 350px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  background: var(--dark-blue);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  text-align: justify;
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav a:hover {
  color: var(--white);
  border-bottom: 3px solid var(--white);
}

.box {
  margin: 8px - 16px;
  background: var(--white);
  padding: 50px;
  }

.box,
.box > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.box:after {
  content: "";
  display: table;
  clear: both;
}

.work {
  background-color: aliceblue;
  padding: 10px;
}

aside {
  flex: 1 0;
  background-color: var(--white);
  padding: 80px;
  text-align: center;
}

aside img {
  width: 250px;
  margin-bottom: 20px;
}

aside p {
  color: var(--black);
}

h2 {
  font-size: 3.0rem;
  margin-bottom: 10px;
  margin: 0;
  margin-top: 0.5em;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  font-size: 2.0rem;
  margin-bottom: 10px;
  text-align: center;
}
 
h4 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: left;
}

h5 {
  font-size: 0.6rem;
  text-align: centre;
}

nav {
  display: flex;
  background-color: var(--tan);
}

nav a {
  color: var(--white);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--white);
  color: var(--dark-blue);
  opacity: 0.9;
  border: 3px solid var(--framecolor);
}

.main {
  max-width: 1000px;
  margin: auto;
}

article {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2%;
  background: var(--black);
  color: var(--white);
  align-items: center;
  padding: 2%;
}

a img:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 10px grey;
}

img {
  width: 250px;
  height: 250px;
  margin-bottom: 25px;
}

.box {
  flex: 3;
  background: var(--white);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 10px;
  text-align: center;
  padding: 2%;
  background: var(--black);
  color: var(--black);
  align-items: center;
  padding: 2%;
}

@media screen and (max-width: 900px) {
  main,
  nav,
  .column {
    width: 50%;
  }

 @media screen and (max-width: 400px) {
  main,
  nav,
  .column {
    width: 100%;
  }

}